body{ margin:0; font-family: Arial, Helvetica, sans-serif; }
        .container{
            width:500px;
            margin:50px auto;
            padding:30px;
            border:5px solid #000;
            border-radius:40px;
            background-color:#dcdcdc;
            text-align:center;
        }
        .red, .green, .yellow{
            width:100px;
            height:100px;
            border-radius:50%;
            display:inline-block;
            margin:0 15px;
            box-sizing:border-box;
        }
        .green{ background-color: rgb(0,128,0); }
        .yellow{ background-color: rgb(255,255,0); }
        .red{ background-color: rgb(255,0,0); }